:root {
    --blue-color: #3b82f6;
    --blue-color-dark: #1d4ed8;
    --white-color: #fff;
    --black-color: #000;
    --gray-color: #d1d5db;
    --yellow-color: #eab308;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

main {
    display: grid;
    grid-template-rows: 1fr 4fr;
}

main a {
    color: var(--black-color);
    text-decoration: none;
}

main a:hover {
    text-decoration: underline;
}

.sidebar-container {
    display: grid;
    grid-template-rows: minmax(5vh, 10vh) auto;
    background-color: var(--blue-color);
    padding: 1rem;
}

.logo-link {
    margin-top: -1.5rem;
}

.logo-icon {
    font-size: 2rem;
}

.sidebar-container a {
    color: var(--white-color);
    text-decoration: none;
}

.sidebar-container a:hover {
    text-decoration: underline;
}

.sidebar-container nav {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.sidebar-container nav .top {
    margin-bottom: min(30px, 5vh);
}

.sidebar-container ul {
    list-style: none;
}

.sidebar-container ul a,
.logo-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.icon {
    font-size: 1.25rem;
}

.header-container {
    display: grid;
    grid-template-rows: 1fr 2fr;
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.header-container .top,
.header-container .bottom {
    display: grid;
    grid-template-columns: 7fr 3fr;
}

.header-container .left,
.header-container .right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.search-input {
    width: 80%;
    border: none;
    outline: none;
    background-color: var(--gray-color);
    border-radius: 1rem;
    font-size: inherit;
    padding: 4px 12px;
}

.header-container button {
    border: none;
    background-color: var(--blue-color);
    color: var(--white-color);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-size: inherit;
    transition: background-color 0.3s, transform 0.3s;
}

.header-container button:hover {
    background-color: var(--blue-color-dark);
    transform: scale(1.1);
}

img {
    width: 50px;
    height: auto;
    border-radius: 50%;
}

.header-container .bottom img {
    width: 75px;
}

.main-content-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: var(--gray-color);
    padding: 2rem 1rem;
    gap: 20px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 16px;
    margin-top: 16px;
}

.project {
    background-color: var(--white-color);
    min-height: 180px;
    padding: 24px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    border-left: 0.5rem solid var(--yellow-color);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
}

.project:hover {
    transform: translateY(4px);
}

.project .links {
    margin-top: 32px;
    align-self: flex-end;
    display: flex;
    gap: 16px;
}

.project .links a {
    transition: transform 0.3s;
}

.project .links a:hover {
    transform: scale(1.25);
}